    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: rgba(140, 196, 97, 1);
    }

    header {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .upper {
        display: flex;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 1rem;
        width: 50%;
        height: 20vh;
        padding: 1rem;
    }

    .container-left {
        position: relative;
        width: 55%;
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 2.1rem;
        letter-spacing: 3px;
    }

    .container-right {
        width: 45%;
        display: flex;
        justify-content: space-between;
    }

    .box {
        position: relative;
        padding: 10px;
        width: 45%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: rgba(101, 101, 101, 1);
        font-family: Roboto;
        letter-spacing: 0.1rem;
        font-size: 1rem;
    }

    .box h1 {
        font-size: 3rem;
        color: black;
    }

    main {
        width: 100%;
        height: 60vh;
        display: grid;
        place-items: center;
    }

    .main-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 24rem;
    }

    .select-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50%;
    }

    .upper-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .triangle-container {
        z-index: -1;
        position: absolute;
        rotate: 180;
    }

    .triangle {
        fill: transparent;
        stroke: rgba(0, 0, 0, 0.64);
        stroke-width: 18;
    }

    .choiceBox {
        position: relative;
        width: 9rem;
        height: 9rem;
        border-radius: 5rem;
        display: grid;
        place-items: center;
    }

    .choiceBox:hover {
        filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
    }

    .rock {
        background-color: #0074B6;
    }

    .paper {
        background-color: rgba(255, 169, 67, 1);
    }

    .scissor {
        background-color: rgba(189, 0, 255, 1);
    }

    .choice {
        width: 7rem;
        height: 7rem;
        padding: 2rem;
        background-color: white;
        border-radius: 5rem;
        cursor: pointer;
    }


    .result-box {
        width: 30rem;
        flex-direction: row;
        justify-content: space-between;
        display: none;
    }

    .result-section {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        font-family: Roboto;
        color: white;
        font-weight: 200;
        letter-spacing: 1.5px;
    }


    #play-again {
        cursor: pointer;
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        color: #6B6B6B;
    }

    .winner-box {
        width: 60%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: roboto;
        color: white;
        word-spacing: 2px;
        letter-spacing: 5px;
        line-height: 3rem;
        display: none;
    }

    #cup-img {
        position: absolute;
        top: 17%;
    }

    #stars-img {
        position: relative;
        width: 30vw;
    }

    .winner-box h1 {
        font-size: 5rem;
    }

    .winner-box h2 {
        font-size: 2rem;
    }

    .shadow-box {
        box-shadow: 0 0 0 10px #2E9826,
            0 0 0 15px #36A233,
            0 0 0 20px #3EAF41,
            0 0 0 25px #47BC4E,
            0 0 0 30px #4FC95C;
        transition: box-shadow 0.3s ease-in-out;
    }

    footer {
        width: 100%;
        position: relative;
        height: 4rem;
        display: flex;
        justify-content: end;
        align-items: center;
        position: fixed;
    }

    .popUp-box {
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        left: 75%;
        border: 0.5rem solid white;
        border-radius: 1rem;
        color: #FFF;
        background: #004429;
        line-break: auto;
        height: 17rem;
        width: 15.5rem;
        padding: 1rem;
        font-family: Roboto;
        font-size: 0.8rem;
        display: none;
    }

    .rule-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: square;
    }

    .close {
        position: absolute;
        cursor: pointer;
        left: 80%;
        top: -10%;
        height: 4rem;
        width: 4rem;
        border: 0.5rem solid white;
        background-color: #F00;
        display: grid;
        place-items: center;
        font-family: Roboto;
        font-size: 2rem;
        color: white;
        border-radius: 5rem;
    }

    .btn {
        cursor: pointer;
        border: 2px solid white;
        border-radius: 0.5rem;
        margin: 0 1rem;
        width: 8rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto;
        font-size: 1.3rem;
        background-color: transparent;
        color: rgba(255, 255, 255, 1);
    }